@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@theme {
  --font-regular: "Vazirmatn-Regular", sans-serif;
  --font-black: "Vazirmatn-Black", sans-serif;
  --font-bold: "Vazirmatn-Bold", sans-serif;
  --font-medium: "Vazirmatn-Medium", sans-serif;
}

@font-face {
  font-family: "Vazirmatn-Black";
  src: url("/fonts/Vazirmatn-Black.woff2");
}

@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("/fonts/Vazirmatn-Bold.woff2");
}

@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("/fonts/Vazirmatn-Medium.woff2");
}

@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("/fonts/Vazirmatn-Regular.woff2");
}


